/* Reset CSS */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Main container styles */
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    padding: 20px 0;
    width: 100%;
    color: #fff;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 300px;
  }
  
  /* Form input styles */
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 130px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Footer styles */
  footer {
    margin-top: 20px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  