html, body, h1, h2, h3, p, ul, li, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    line-height: 1.6;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 30px;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  section {
    padding: 30px;
  }
  #banner {
    position: relative;
  }
  #banner img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }

  #welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
  }
  
  
  #welcome-message {
    text-align: center;
  }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  